.react-time-picker {
  display: inline-flex;
  position: relative;
}
.react-time-picker,
.react-time-picker *,
.react-time-picker *:before,
.react-time-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-time-picker__button {
  min-width: 140px;
  display: flex;
  border: thin solid gray;
}
.react-time-picker__button__input {
  flex-grow: 1;
  display: flex;
  padding: 0 2px;
  align-items: baseline;
}
.react-time-picker__button__input__divider {
  padding: 1px 0;
}
.react-time-picker__button__input input {
  min-width: 9px;
  height: 100%;
  padding: 1px;
  border: 0;
  -moz-appearance: textfield;
}
.react-time-picker__button__input input::-webkit-outer-spin-button,
.react-time-picker__button__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-time-picker__button__input input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-time-picker__button__input__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-time-picker__button__icon {
  border: 0;
  background: transparent;
  padding: 4px 6px;
  cursor: pointer;
}
.react-time-picker__button__icon:hover svg g,
.react-time-picker__button__icon:focus svg g {
  stroke: #0078d7;
}
.react-time-picker__button__icon svg {
  display: inherit;
}
.react-time-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
  position: absolute;
  top: 100%;
  left: 0;
}
.react-time-picker__clock--closed {
  display: none;
}
.react-time-picker__clock--above-label {
  bottom: 100%;
  top: auto;
}
